<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADHS Jaguars.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Apex Cougars.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Butler Bulldogs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FV Bengals.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HP-Sports.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Plano West.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>iAthletics.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E104E70A142013DE009F0677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E108B6E7161764140019EDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E108B72B16176BF00019EDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E108B76D16176C6C0019EDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1142E3515AD345800B980C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E121CF6915EF1CAC004DC745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E128111715CF033200E286F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E128C13715367D2B00223D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E128C17515367DE400223D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E12E1DF316762BF200D30D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E15D653F15EF0BFC00384DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DDC78D1756664B006E91BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
